<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">
	  
	<head>
		<meta name="description" content="ksmart53" />
	</head>

	<th:block layout:fragment="content-header">            	
	    <div class="content-header">
	        <div>
	            <h2 class="content-title card-title">관리자페이지</h2>
	        </div>
	    </div>
	</th:block>
	<th:block layout:fragment="content-body">
		<div class="row">
			<div class="col">
				<div class="h5" th:text="${title}">인덱스화면</div>
			</div>
		</div>
	</th:block>
	<!--/* 사용자 추가 js file */-->
    <th:block layout:fragment="customJsResource"></th:block>
    <!--/* 사용자 추가 js script */-->
    <th:block layout:fragment="customJs">
    	<script>
    	
    	</script>
    </th:block>
</html>











