<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmybatis.admin.member.mapper.MemberMapper">
	<resultMap type="Member" id="memberResultMap">
		<id 	column="mbr_id" 		property="memberId"/>
		<result column="mbr_pw" 		property="memberPw" />
		<result column="mbr_name" 		property="memberName" />
		<result column="mbr_grd" 		property="memberGrade" />
		<result column="mbr_grd_num"	property="memberGrdNum" />
		<result column="mbr_addr" 		property="memberAddr" />
		<result column="mbr_daddr" 		property="memberDetailAddr" />
		<result column="mbr_zip" 		property="memberZip" />
		<result column="mbr_telno" 		property="memberTelNo" />
		<result column="mbr_email" 		property="memberEmail" />
		<result column="mbr_reg_date" 	property="memberRegDate" />
	</resultMap>
	
	<select id="getSearchList" parameterType="map" resultMap="memberResultMap">
		SELECT
			m.mbr_id, 
			m.mbr_pw, 
			m.mbr_name, 
			cc.comm_nm AS mbr_grd, 
			m.mbr_addr, 
			m.mbr_daddr, 
			m.mbr_zip, 
			m.mbr_telno, 
			m.mbr_email, 
			m.mbr_reg_date
		FROM
			members m INNER JOIN comm_code cc
			ON m.mbr_grd = cc.comm_cd
		<where>
			<if test="searchValue != null and searchValue != ''">
				${searchCate} LIKE CONCAT('%', #{searchValue}, '%')
			</if>
		</where>
		ORDER BY CAST(SUBSTRING_INDEX(m.mbr_id, 'ksmartid', -1) AS UNSIGNED) 
		LIMIT #{listSize}
	</select>
	
	<!-- 특정회원 탈퇴 -->
	<delete id="removeMemberById" parameterType="string">
		/* 특정회원 탈퇴 */
		DELETE
		FROM
			members
		WHERE
			mbr_id = #{memberId};
	</delete>
	
	<!-- 특정회원 수정 -->
	<update id="modifyMember" parameterType="Member">
		UPDATE members
		<trim prefix="SET" suffixOverrides=",">
			<if test="memberPw != null and memberPw != ''">
				mbr_pw=#{memberPw},
			</if>
			<if test="memberName != null and memberName != ''">
				mbr_name=#{memberName},
			</if>		
			<if test="memberGrdNum != null and memberGrdNum != ''">			
				mbr_grd=CONCAT('mbr_grd_', #{memberGrdNum}),
			</if>		
			<if test="memberAddr != null and memberAddr != ''">		
				mbr_addr=#{memberAddr},
			</if>		
			<if test="memberDetailAddr != null and memberDetailAddr != ''">
				mbr_daddr=#{memberDetailAddr},
			</if>		
			<if test="memberZip != null and memberZip > 0">
				mbr_zip=#{memberZip},
			</if>		
			<if test="memberTelNo != null and memberTelNo != ''">			
				mbr_telno=#{memberTelNo},
			</if>		
			<if test="memberEmail != null and memberEmail != ''">			
				mbr_email=#{memberEmail}
			</if>		
		</trim>
		WHERE 
			mbr_id=#{memberId};
	</update>

	<!-- 특정회원 조회 -->
	<select id="getMemberInfoById" parameterType="string" resultMap="memberResultMap"> 
		SELECT 
			mbr_id, 
			mbr_pw, 
			mbr_name, 
			mbr_grd, 
			SUBSTRING_INDEX(mbr_grd, 'mbr_grd_', -1) AS mbr_grd_num, 
			mbr_addr, 
			mbr_daddr, 
			mbr_zip, 
			mbr_telno, 
			mbr_email, 
			mbr_reg_date
		FROM 
			members
		WHERE 
			mbr_id = #{memberId}
		
	</select>

	<!-- 회원등록 -->
	<insert id="addMember" parameterType="Member">
		/* 회원등록 */
		INSERT INTO members(
			mbr_id, 
		 	mbr_pw, 
		 	mbr_name, 
		 	mbr_grd, 
		 	mbr_addr, 
		 	mbr_daddr, 
		 	mbr_zip, 
		 	mbr_telno, 
		 	mbr_email, 
		 	mbr_reg_date
		) VALUES (
			#{memberId},
			#{memberPw}, 
			#{memberName}, 
			CONCAT('mbr_grd_', #{memberGrade}), 
			#{memberAddr}, 
			#{memberDetailAddr}, 
			#{memberZip}, 
			#{memberTelNo}, 
			#{memberEmail}, 
			CURDATE()
		);
	</insert>

	<!-- 중복아이디 회원조회 -->
	<select id="isMemberById" parameterType="string" resultType="boolean">
		/* 중복아이디 회원조회 */
		SELECT
			COUNT(*)
		FROM
			members
		WHERE
			mbr_id = #{memberId}; 
	</select>

	<!-- 회원등급 조회 -->
	<select id="getMemberGradeList" resultType="map">
		/* 회원등급 조회 */
		SELECT
			cgc.comm_group_cd 	AS groupCode,
			cc.comm_cd 			AS gradeCode,
			cc.comm_nm 			AS gradeName
		FROM
			comm_group_code cgc INNER JOIN comm_code cc
			ON cgc.comm_group_cd = cc.comm_group_cd
		WHERE 
			cgc.comm_group_cd = 'comm_group_1';
	</select>

	<!-- 회원목록 조회 -->
	<select id="getMemberList" resultType="Member">
		/* 회원목록 조회 */
		SELECT 
			mbr_id 			AS memberId, 
			mbr_pw 			AS memberPw, 
			mbr_name 		AS memberName, 
			mbr_grd 		AS memberGrade, 
			mbr_addr 		AS memberAddr, 
			mbr_daddr 		AS memberDetailAddr, 
			mbr_zip 		AS memberZip, 
			mbr_telno 		AS memberTelNo, 
			mbr_email 		AS memberEmail, 
			mbr_reg_date 	AS memberRegDate
		FROM 
			members
		ORDER BY CAST(SUBSTRING_INDEX(mbr_id,'ksmartid',-1) AS UNSIGNED);
	</select>
</mapper>